@page
@model GlobalSparkAcademy.Pages.Payment_Pages.STEMPaymentPageModel
@{
    ViewData["Title"] = "STEM Payment Page";
}

<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    .btn-custom {
        height: 50px;
        line-height: 1.5;
    }
</style>

<form method="POST" enctype="multipart/form-data">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="card p-3" style="background-image: url('@Url.Content("~/images/gcash logo.webp")'); background-size: cover; background-position: center; height: 150px;">
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card p-3" style="background-image: url('@Url.Content("~/images/Maya-Bank-logo.jpg")'); background-size: cover; background-position: center; height: 150px;">
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card p-3" style="background-image: url('@Url.Content("~/images/paypal logo.jpg")'); background-size: cover; background-position: center; height: 150px;">
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card p-3">
                    <p class="mb-2 ms-3 h2">Payment Methods</p>
                    <p class="ms-3">@Model.Descriptions?[0]</p>
                </div>
            </div>
            <div id="accordion">
                <!-- GCash Card -->
                <div class="card bg-light">
                    <div class="card-header d-flex justify-content-between align-items-center bg-light" id="headingOne">
                        <h5 class="ms-3 mb-0 bg-light" style="font-weight: 500;">
                            GCash
                        </h5>
                        <button class="btn btn-outline-success" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            View
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="ms-3 mb-3">Summary</h5>
                                    <p class="ms-3 mb-3 h6">Strand: <span style="color: green"> @Model.StrandName</span></p>
                                    <p class="ms-3 mb-3 h6">Amount to be paid: <span style="color: green"> @Model.Amount</span></p>
                                    <p class="ms-3 mb-3 h6" style="text-align: justify; font-weight: normal;">@Model.Descriptions?[1]</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="gcashNumber" placeholder="GCASH NUMBER" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="gcashDate" placeholder="MM / YY" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="gcashMobileNumber" placeholder="MOBILE NUMBER" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="email" class="form-control" id="gcashEmail" aria-describedby="EMAIL ADDRESS" placeholder="EMAIL ADDRESS" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="gcashAmount" placeholder="AMOUNT TO BE PAID" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Maya Bank Card -->
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center" id="headingTwo">
                        <h5 class="ms-3 mb-0" style="font-weight: 500;">
                            Maya Bank
                        </h5>
                        <button class="btn btn-outline-success" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            View
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="ms-3 mb-3">Summary</h5>
                                    <p class="ms-3 mb-3 h6">Strand: <span style="color: green"> @Model.StrandName</span></p>
                                    <p class="ms-3 mb-3 h6">Amount to be paid: <span style="color: green"> @Model.Amount</span></p>
                                    <p class="ms-3 mb-3 h6" style="text-align: justify; font-weight: normal;">@Model.Descriptions?[2]</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="mayaBankNumber" placeholder="MAYA BANK NUMBER" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="mayaBankDate" placeholder="MM / YY" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="mayaBankMobileNumber" placeholder="MOBILE NUMBER" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="email" class="form-control" id="mayaBankEmail" aria-describedby="EMAIL ADDRESS" placeholder="EMAIL ADDRESS" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="mayaBankAmount" placeholder="AMOUNT TO BE PAID" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Paypal Card -->
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center" id="headingThree">
                        <h5 class="ms-3 mb-0" style="font-weight: 500;">
                            Paypal
                        </h5>
                        <button class="btn btn-outline-success" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            View
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="ms-3 mb-3">Summary</h5>
                                    <p class="ms-3 mb-3 h6">Strand: <span style="color: green"> @Model.StrandName</span></p>
                                    <p class="ms-3 mb-3 h6">Amount to be paid: <span style="color: green"> @Model.Amount</span></p>
                                    <p class="ms-3 mb-3 h6" style="text-align: justify; font-weight: normal;">@Model.Descriptions?[3]</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="paypalNumber" placeholder="CARD NUMBER" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="paypalDate" placeholder="MM / YY" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="paypalCode" placeholder="CVV CODE" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="paypalName" aria-describedby="NAME OF THE CARD" placeholder="NAME OF THE CARD" readonly>
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="paypalAmount" placeholder="AMOUNT TO BE PAID" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Checkout Card -->
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center" id="headingFour">
                        <h5 class="ms-3 mb-0" style="font-weight: 500;">
                            Checkout
                        </h5>
                        <button class="btn btn-outline-success" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            View
                        </button>
                    </div>
                    <div id="collapseFour" class="collapse-show" aria-labelledby="headingFour" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="ms-3 mb-3">Summary</h5>
                                    <p class="ms-3 mb-3 h6">Strand: <span style="color: green"> @Model.StrandName</span></p>
                                    <p class="ms-3 mb-3 h6">Amount to be paid: <span style="color: green"> ₱@Model.Amount.ToString("N2")</span></p>

                                    <p class="ms-3 mb-3 h6" style="text-align: justify; font-weight: normal;">@Model.Descriptions?[4]</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="firstName" placeholder="FIRST NAME" required name="FirstName">
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="lastName" placeholder="LAST NAME" required name="LastName">
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="payorsName" placeholder="PAYOR'S NAME" required name="PayorsName">
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="EMAIL ADDRESS" pattern="@Model.EmailRegexPattern" required name="Email">
                                    </div>
                                    <div class="form-group mb-4">
                                        <input type="text" class="form-control" id="amount" placeholder="AMOUNT TO BE PAID" required name="AmountPaid">
                                        <div id="amountError" class="text-danger" style="display: none;">Please enter an amount of at least ₱6,230.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary mt-3 mb-5 w-100 btn-custom" style="font-size: 22px; padding: 5px;">Submit Payment</button>
            </div>
        </div>
    </div>
</form>
